@font-face {
  font-family: 'Forte';
  src: url('../fonts/Forte-cursive.ttf') format('truetype');
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Kodchasan";
  src: url("../fonts/Kodchasan-SemiBoldItalic.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Delmon";
  src: url("../fonts/Delmon-Delicate.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Rosemartin";
  src: url("../fonts/Rosemartin.otf") 
  format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Quantum";
  src: url("../fonts/Quantum-Bold.otf") 
  format("truetype");
  font-weight: 700;
}

select {
  -webkit-appearance: none;
  appearance: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
